.dart_tool/
.idea/
*.iml
hs_err_pid34400.log
backend/.env
backend/.venv
__pycache__/
*.pyc
backend/app/models/__pycache__/
backend/app/__pycache__/
backend/app/core/__pycache__/
venv
/build
lib/core/constants/api_constants.dart
backend/mandi_supabase.sql
backend/firebase_service_account.json