fastapi 
uvicorn 
sqlalchemy 
psycopg2-binary 
python-dotenv
httpx
datetime
watchfiles
requests
tzdata
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
pydantic[email]
pydantic-settings 
resend
lightgbm
pandas
scikit-learn
numpy